.Post {
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    margin-bottom: 20px;
    display: inline-block;
}

.Post-user {
  display: flex;
  margin: 1% 0% 2% 2%;
  align-items: center;
}

.Post-user-avatar {
  width: 30px;
  height: 30px;
}

.Post-user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.Post-user-nickname {
  margin-left: 8px;
}

.time {
  margin-left: 10px;
  font-size: 8px;
  color: rgb(84, 84, 84);
}

.Post-image-bg {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #efefef;
}

.Post-image img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.Post-caption {
  margin: 0% 0% 1% 2%;
}

.Post-caption strong {
    font-family: 'PT Sans', sans-serif;
}

.liked-button,
.like-button {
  margin: 1% 2% 1% 10% ;
  border: none;
  background: none;
}

.liked-button {
  color: red;
}

.comment-button {
  margin: 1% 2% 1% 10% ;
  border: none;
  background: none;
}